<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!-- Titulo de la pagina -->  
    <title>Tu cuenta se ha creado</title>
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/recuperar_contraseña.css">
</head>
<body>
    <header>
        <h3>Sistema de Gestión de Proyectos basados en IEEE</h3>
    </header>
    <section id="main">
	<div id="container">
    <h1>Tu cuenta se ha creado</h1>
    <br>
        <div class="cuadro">
        <p>Ya puedes usar la nueva cuenta para crear y dar seguimientos a tus proyectos de software.</p>

        <br>
        <form>   

         	<a href="login.html"><input type="button" value="Siguiente" class="boton3"></a>
            
        </form>  
        </div>     
    </div>
    </section>
    <footer>
        <a href="login.html">Inciar Sesión</a>
        <br>
        <p>Contacto: </p>
        <a href="mailto:claudioturkula@hotmail.com" class="contacto">claudioturkula@hotmail.com</a>
        <a href="mailto:anidonicolas@gmail.com" class="contacto">anidonicolas@gmail.com</a>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>