<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!-- Titulo de la pagina -->  
    <title>Crear cuenta</title>
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/recuperar_contraseña.css">
</head>
<body class="cuenta">
    <header>
        <h3>Sistema de Gestión de Proyectos basados en IEEE</h3>
    </header>
    <section id="main">
	<div id="container">
    <h1>Crear una cuenta</h1>
    <br>
        <div class="cuadro">
        <p>Podemos ayudarte a crear una cuenta. Completa los datos</p>
        <br/>
        <form class="cuenta">
            <label for="nombre" class="cuenta">Nombre:</label >   
         	<input type="name" placeholder="Escriba su nombre de nombre" id="nombre" class="cuenta">
         	<br>
            <label for="apellido" class="cuenta">Apellido:</label>   
            <input type="name" placeholder="Escriba su nombre de apellido" id="apellido" class="cuenta">
            <br>
            <label for="mail" class="cuenta">Email:</label>   
            <input type="email" placeholder="Escriba su direccion de email" id="mail" class="cuenta">
            <br>
            <label for="usuario" class="cuenta">Usuario</label>
            <input type="name" id="usuario" placeholder="Escriba su usuario" class="cuenta">
            <br>
            <label for="contraseña" class="cuenta">Contraseña</label>
            <input type="password" id="contraseña" placeholder="Escriba su contraseña" class="cuenta">
            <br>
            <label for="contraseña2" class="cuenta">Vuelva a escribir la contraseña</label>
            <input type="password" id="contraseña2" placeholder="Vuelva a escribir su contraseña" class="cuenta">
         	<a href="crear_cuenta2.html"><input type="button" value="Crear Cuenta" class="boton3"></a>            
        </form>  
        </div>     
    </div>
    </section>
    <footer>
        <a href="login.html">Inciar Sesión</a>
        <br>
        <p>Contacto: </p>
        <a href="mailto:claudioturkula@hotmail.com" class="contacto">claudioturkula@hotmail.com</a>
        <a href="mailto:anidonicolas@gmail.com" class="contacto">anidonicolas@gmail.com</a>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>