<html>
	

	<head>
		<title>
			Menu Principal
		</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css" />
		
		<div id="cabecera">
			<h1 align="center">GESTOR DE PROYECTOS IEEE</h1>
			<h2 align="center">Menu Principal</h2>
		</div>
		
	</head>
	<body>
		
			<div id="general">
				<div id="menuLateral">
					<ul class="nav">
						<li><a href="Perfil.html">Perfil</a></li>
						<li><a href="">Nuevo Proyecto</a></li>
						<li><a href="">Administrar Proyectos</a></li>
						<li><a href="">Estadisticas</a></li>
						<li><a href="">Alertas</a></li>
						<li><a href="">Configuracion</a></li>
						<li><a href="soporte.html">Soporte</a></li>
						<li><a href="login.html">Cerrar sesion</a></li>
					</ul>	
				</div>
				<div id="visualizar">
					<!-- Bootstrap progressbar of blue color -->
					<div class="progress-rounded progress">
					<div class="progress-bar progress-bar-info" style="width: 68%;"></div>
					</div>

					<!-- Bootstrap progressbar of yellow color -->
					<div class="progress-rounded progress">
					<div class="progress-bar progress-bar-warning" style="width: 52%;"></div>
					</div>

					<!-- Bootstrap progressbar of red color -->
					<div class="progress-rounded progress">
					<div class="progress-bar progress-bar-danger" style="width: 77%;"></div>
					</div>		
				</div>
			</div>
			
	</body>
</html>
