<html>
	<head>
		<title>
			Gestor IEEE - Perfil
		</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css" />

		<div id="cabecera">
			<h1 align="center">GESTOR DE PROYECTOS IEEE</h1>
			<h2 align="center">Perfil</h2>
		</div>
		
		<div id="general">
			
				<div id="fotoperfil">
					<img src="avatar.png" width="200" height="200" >
				</div>
			
			
			<div id="perfil1">

				Nombre:<br>
				Apellido:<br>
				Email:<br>
				Telefono:<br>
				Celular:<br>
				Miembro desde:<br>
				Proyectos activos:<br>
				Proximo evento:<br>
				Proyectos finalizados:<br>
				<form action="maquetaMenu.html">
   					 <input type="submit" value="Volver al menu" />
				</form>	
			</div>
		</div>
	</head>
	<body>
	</body>
</html>