<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!-- Titulo de la pagina -->  
    <title>Recupera tu cuenta</title>
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/recuperar_contraseña.css">
</head>
<body>
	<header>
        <h3>Sistema de Gestión de Proyectos basados en IEEE</h3>
    </header>
    <section id="main">
    <div id="container">
    <h1>Recupera tu cuenta</h1>
    <br>
        <div class="cuadro">
        <p>Podemos ayudarte a restablecer tu contraseña. Primero escribe tu nombre de usuario y se te enviara un codigo a tu cuenta asociada.</p>
        <br>
        <form>   
         	<input type="email" placeholder="Escriba su nombre de usuario" class="correo">
         	<br><br><br>
         	<a href="login.html"><input type="button" value="Cancelar" class="boton"></a>
         	<a href="recuperar_contraseña2.html"><input type="button" value="Aceptar" class="boton2"></a>
            
        </form>  
        </div>     
    </div>
    </section>
    <footer>
        <a href="login.html">Inciar Sesión</a>
        <br>
        <p>Contacto: </p>
        <a href="mailto:claudioturkula@hotmail.com" class="contacto">claudioturkula@hotmail.com</a>
        <a href="mailto:anidonicolas@gmail.com" class="contacto">anidonicolas@gmail.com</a>
    </footer>
    </footer>
    <script src="js/jquery.js"></script> 
</body>
</html>