<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!-- Titulo de la pagina -->  
    <title>Necesitamos comprobar tu indentidad</title>
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/recuperar_contraseña.css">
</head>
<body>
    <header>
        <h3>Sistema de Gestión de Proyectos basados en IEEE</h3>
    </header>
    <section id="main">
	<div id="container">
    <h1>Establecer contraseña</h1>
    <br>
        <div class="cuadro">
        <p>La próxima vez que inicie sesión use la contraseña que creará a continuación.</p>
        <br>
        <form>   
         	<input type="password" placeholder="Escriba su contraseña" class="contra">
         	<br><br>
            <input type="password" placeholder="Repita su contraseña" class="contra">
            <br><br>
         	<a href="login.html"><input type="button" value="Cancelar" class="boton"></a>
         	<a href="recuperar_contraseña4.html"><input type="button" value="Aceptar" class="boton2"></a>
            
        </form>  
        </div>     
    </div>
    </section>
    <footer>
        <a href="login.html">Inciar Sesión</a>
        <br>
        <p>Contacto: </p>
        <a href="mailto:claudioturkula@hotmail.com" class="contacto">claudioturkula@hotmail.com</a>
        <a href="mailto:anidonicolas@gmail.com" class="contacto">anidonicolas@gmail.com</a>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>