<html>
	<head>
		<title>
			 Soporte
		</title>
		
		<link rel="stylesheet" type="text/css" href="estilos.css" />
		<div id="cabecera">
			<h1 align="center">GESTOR DE PROYECTOS IEEE</h1>
			<h2 align="center">SOPORTE</h2>
		</div>
	</head>
	<body>
		<div id="general">
			<div id="cuadro">
				<div id="cajatexto">
					Asunto<br>
					<textarea name="Asunto" rows="2" cols="40"></textarea><br>
					Descripcion del problema<br>
					<textarea name="Descripcion" rows="20" cols="40"></textarea>
					<form action="maquetaMenu.html">
   					 	<input type="submit" value="ENVIAR" />
					</form>	
				</div>
				
				
			</div>
		</div>
	</body>
</html>